.profile__username {
    font-style: normal;
    font-weight: 500;
    font-size: 2.625em;
    line-height: 1.14;
    color: #FFFFFF;
    margin: 0;
}

@media screen and (max-width:767px) {
    .profile__username {
        margin: 22px 0 0;
        font-size: 1.6875em;
        line-height: 33px;
        text-align: center;
    }
}
