.header {
    /* border: 1px solid red; */
    max-width: 882px;
    display: flex;
    flex-direction: column;
    margin: 45px auto 40px;
    padding: 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
    align-items: flex-start;
    /* border-bottom: 1px solid #A5A5A5; */
}

@media screen and (max-width: 660px) {
    .header {
        margin: 28px auto 42px;
        height: 56px;
    }
}
